{% block title %} {{ title }} {% endblock %}

{% block header %}<h2>{{ title }}</h2>{% endblock %}

{% block content %}
<div class="partners-content">
	{% for partner_info in partners %}
	<div class="row">
		<div class="col-md-3">
			{% if partner_info.logo -%}
			<a href="{{ partner_info.page_name }}">
				<img itemprop="brand" src="{{ partner_info.logo }}" class="partner-logo"
					alt="{{ partner_info.party_name }}" title="{{ partner_info.party_name }}" />
			</a>
			{%- endif %}
		</div>
		<div class="col-md-9">
			<a href="{{ partner_info.page_name }}">
				<h4>{{ partner_info.party_name }}</h4>
			</a>
			<p style="color: #999">{{ partner_info.territory }} - {{ partner_info.party_group }}</p>
			<p>{{ partner_info.introduction }}</p>
		</div>
	</div>
	<hr>
	{% endfor %}
</div>
{% endblock %}

{% block sidebar %}{% include "templates/includes/sidebar.html" %}{% endblock %}
